# PiGPT Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
.idea/
*.iml
*.apk
*.aab
.env
*.jks
key.properties
.DS_Store

analyze.log
analyze2.log
test.log

